<footer id="footer">
	<div class="outer">
		<div id="footer-info">
			<div class="footer-left">
				&copy;
				<%= date(new Date(), 'YYYY') %>
					<%= config.author || config.title %>
			</div>
			<div class="footer-right">
				<a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a>
				by Litten
			</div>
		</div>

		<div>
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275326533'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275326533%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>

		<!-- 不蒜子 统计插件 -->
		<div calss="count-span">
			<span id="busuanzi_container_site_pv">
				总访问量: <span id="busuanzi_value_site_pv"></span>|
			</span>
			<span id="busuanzi_container_site_uv">
				总访客: <span id="busuanzi_value_site_uv"></span>
			</span>
		</div>
		<!-- 不蒜子 统计插件 -->

	</div>
</footer>

<!-- 不蒜子 统计插件 -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- 不蒜子 统计插件 -->